<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorBeFit</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exercise-types">
                <span class="bi bi-lightning-fill" aria-hidden="true"></span> Typy Ćwiczeń
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="training-sessions">
                <span class="bi bi-calendar-check" aria-hidden="true"></span> Sesje Treningowe
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="training-entries">
                <span class="bi bi-clipboard-data" aria-hidden="true"></span> Wpisy Treningowe
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="database-info">
                <span class="bi bi-database" aria-hidden="true"></span> Baza Danych
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <span class="nav-link text-light">
                        <span class="bi bi-person-circle" aria-hidden="true"></span> @context.User.Identity?.Name
                    </span>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Wyloguj
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="bi bi-person-plus" aria-hidden="true"></span> Rejestracja
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-person" aria-hidden="true"></span> Logowanie
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

