@page "/"
@namespace BlazorBeFit.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="~/" />
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/app.css" />
  <link rel="stylesheet" href="/BlazorBeFit.styles.css" />
  <link rel="icon" type="image/png" href="favicon.png" />
</head>
<body>
  <component type="typeof(BlazorBeFit.Components.App)" render-mode="ServerPrerendered" />
  <script src="_framework/blazor.server.js"></script>
</body>
</html>
